/* global */
:root {
  --main-bg: #1e202b;
  --sec-bg: #009ad8;
}

.main-bg {
  background-color: var(--main-bg);
}

.main-color {
  color: var(--sec-bg);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #bfc1c8;
  background-color: #1e202b;
}

.nav-logo h1 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -7px;
}

.nav-logo small,
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 15px;
  color: #bfc1c8;
}

.nav-item a {
  color: white;
  margin-inline: 7px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  padding: 2px 25px !important;
  font-weight: 400;
}

.navbar-nav {
  --bs-nav-link-hover-color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover,
.navbar-toggler:hover,
.navbar-toggler:hover .fa-bars {
  color: var(--sec-bg);
  transition: all 0.5s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover,
.navbar-toggler:hover {
  border: 1px solid var(--sec-bg);
}

.navbar-toggler {
  border: none;
  color: white;
}

.fa-bars {
  color: white;
  transition: color 0.4s;
}

header {
  background-image: url(../imgs/banner.png);
  background-size: cover;
  min-height: 350px;
  padding-block: 70px;
}

header input {
  background-color: var(--main-bg);
  outline: none;
  border: none;
}

.find {
  background-color: var(--sec-bg);
  border: none;
}

.forecast-table{
  margin-top: -180px;
}
.forecast-header {
  font-size: 14;
  line-height: 21px;
  padding: 10px;

  background-color: #2d303d;
}


.forecast .location {
  font-size: 28px;
}

.temp{
  font-size: 70px;
  font-weight: bold;
  color: white;
  line-height: 140px;
  margin-right: 30px;
}

.status{
color: var(--sec-bg);

}
.forecast-container div:nth-child(2) .forecast-header {
  background-color: #222530;
}
.forecast-body {
  background-color: #323544;
  height: 100%;

}

.forecast-container div:nth-child(2) .forecast-body{
  background-color: #262936;

}

.tempF{
  font-weight: 700;
  font-size: 24px;

}

 span,
footer p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    margin-right: 20px;
}
.nav-span{
  margin: 0px;
}
footer {
  background-color: #262936;
}


.social a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  margin-right: 4px;
  transition: all 0.4s;
}

.social a i {
  color: var(--sec-bg);
  transition: color 0.4s;
}
.social a:hover {
  background-color: var(--sec-bg);
}

.social a:hover i {
  color: white;
}

.location-c{
  font-size: 15px;
  color: #707483;
}